<li>
	<div class="text-left" style="float:left">
		{{name}}
	</div>
	<div class="text-right" style="float:right">
		{{#unless devoured}}
		<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
			Devour
		</button>
		{{/unless}}
	</div>


</li>